node_modules
dist
data
logs
coverage
tmp
temp

.env
.env.local
.npm-cache
dev.stdout.log
dev.stderr.log
nest.stdout.log
nest.stderr.log
vite.stdout.log
vite.stderr.log

.git
.gitignore
.agent
.vscode
.idea
*.tsbuildinfo
